* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

header {
  height: 520px;
  .menu {
    padding: 20px 200px 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background: #f2bbac;
    .logo {
      font-size: 20px;
      font-weight: bold;
      a {
        color: #000000;
      }
    }
    nav {
      display: flex;
      justify-content: space-between;
      width: 600px;
      align-items: center;
      a {
        font-size: 20px;
        color: black;
        margin-right: 20px;
      }
      .button {
        background: #d15432;
        color: #ffff;
        border: 1px solid #d15432;
        padding: 10px;
        font-size: 15px;
        margin-right: 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
      .button:hover {
        background: #ffff;
        color: #d15432;
        border: 1px solid #d15432;
        padding: 10px;
        font-size: 15px;
        margin-right: 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
      .button:active {
        background: #d15432;
        color: #ffff;
        border: 1px solid #d15432;
        padding: 10px;
        font-size: 15px;
        margin-right: 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
      .nav-right img {
        width: 20px;
        align-items: center;
      }
    }
  }
  .header-bg {
    padding: 0 200px;
    background: #f2bbac;
    display: flex;
    justify-content: space-between;
    height: 400px;
    padding-top: 50px;
    .message .h1 {
      font-size: 40px;
      font-weight: bold;
    }
    .message .h5 {
      font-size: 20px;
      text-align: left;
      margin-top: 10px;
      line-height: 25px;
    }
    .message button {
      background: #000000;
      color: #ffff;
      border: 1px solid #000000;
      padding: 10px;
      font-size: 20px;
      margin-top: 5px;
      margin-right: 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }
    .message button:hover {
      background: #ffffff;
      color: #000000;
      border: 1px solid #000000;
      padding: 10px;
      font-size: 20px;
      margin-top: 5px;
      margin-right: 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }
    .message button:active {
      background: #000000;
      color: #ffff;
      border: 1px solid #000000;
      padding: 10px;
      font-size: 20px;
      margin-top: 5px;
      margin-right: 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }
    .photo {
      position: relative;
      img {
        position: absolute;
        right: 45px;
        bottom: -5;
        width: 330px;
      }
    }
  }
}

/** fin header */
.section {
  display: flex;
  justify-content: space-between;
  padding: 30px 200px;
  .left {
    display: flex;
    flex-direction: column;
    .text-section {
      font-size: 50px;
      line-height: 45px;
      span {
        font-weight: bold;
      }
    }
    .bar {
      border-top: 10px solid #d15432;
      margin: 20px 0;
      width: 100px;
      border-radius: 5px;
    }
    button {
      background: #d15432;
      color: #ffff;
      border: 1px solid #d15432;
      padding: 10px;
      font-size: 20px;
      margin-right: 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 20px;
      width: 300px;
    }
    button:hover {
      background: #ffff;
      color: #d15432;
      border: 1px solid #d15432;
      padding: 10px;
      font-size: 20px;
      margin-right: 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 20px;
      width: 300px;
    }
    button:active {
      background: #d15432;
      color: #ffff;
      border: 1px solid #d15432;
      padding: 10px;
      font-size: 20px;
      margin-right: 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 20px;
      width: 300px;
    }
  }
}

.section-2 {
  padding: 36px 200px;
  display: flex;
  justify-content: space-between;
  background: #ba4728;
  .left {
    display: flex;
    flex-direction: column;
    .text-section-2 {
      font-size: 50px;
      line-height: 45px;
      span {
        font-weight: bold;
      }
    }
    .bar {
      border-top: 10px solid #ffff;
      margin: 0 0 20px 0;
      width: 100px;
      border-radius: 5px;
    }
    button {
      background: #000000;
      color: #ffff;
      border: 1px solid #000000;
      padding: 10px;
      font-size: 20px;
      margin-top: 5px;
      margin-right: 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      width: 200px;
    }
    button:hover {
      background: #ffffff;
      color: #000000;
      border: 1px solid #000000;
      padding: 10px;
      font-size: 20px;
      margin-top: 5px;
      margin-right: 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      width: 200px;
    }
    button:active {
      background: #000000;
      color: #ffff;
      border: 1px solid #000000;
      padding: 10px;
      font-size: 20px;
      margin-top: 5px;
      margin-right: 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      width: 200px;
    }
  }
}

.footer {
  background: #22263d;
  color: #ffffff;
  height: 164px;
  padding: 30px 0;
  text-align: center;
  .text-footer {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .copy-right {
    font-size: 15px;
  }
}

/** Freres */
.main-log {
  padding: 45px 200px;
  height: 100vh;
  background: url("/assets/images/logbackground.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.card-right {
  margin-top: 288px;
  margin-left: 200px;
  text-align: left;
  .button {
    background: #d15432;
    color: #ffff;
    border: 1px solid #d15432;
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    width: 300px;
  }
  .button:hover {
    background: #ffff;
    color: #d15432;
    border: 1px solid #d15432;
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    width: 300px;
  }
  .button:active {
    background: #d15432;
    color: #ffff;
    border: 1px solid #d15432;
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    width: 300px;
  }
  p {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.input-control {
  height: 50px;
  padding: 10px;
  width: 100%;
  border: 1px solid #adadad;
  border-radius: 4px;
  font-size: 15px;
  color: #adadad;
  margin: 10px 0;
}

.input-control:focus {
  height: 50px;
  padding: 10px;
  width: 100%;
  border: 2px solid #adadad;
  border-radius: 4px;
  font-size: 15px;
  color: #adadad;
  margin: 10px 0;
}

.form-control {
  margin-bottom: 50px;
}

.card {
  .title {
    margin-top: 80px;
    color: #ffffff;
    font-size: 40px;
  }

  .title-prestator {
    margin-top: 50px;
    color: #ffffff;
    font-size: 40px;
  }

  .sub-title {
    margin: 50px 0 10px 0;
    color: #ffffff;
    font-size: 35px;
  }
  .sub-title-prestator {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 20px;
  }
  form {
    background: #ffffff;
    padding: 20px;
    width: 500px;

    button {
      background: #d15432;
      color: #ffff;
      border: 1px solid #d15432;
      padding: 10px;
      font-size: 20px;
      margin-right: 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 20px;
      width: 100%;
    }
    button:hover {
      background: #ffff;
      color: #d15432;
      border: 1px solid #d15432;
      padding: 10px;
      font-size: 20px;
      margin-right: 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 20px;
      width: 100%;
    }
    button:active {
      background: #d15432;
      color: #ffff;
      border: 1px solid #d15432;
      padding: 10px;
      font-size: 20px;
      margin-right: 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 20px;
      width: 100%;
    }
    .span {
      text-align: right;
    }
  }
  .text-buttom {
    color: #ffffff;
    margin: 30px 0;
    a {
      color: #ffff;
    }
  }
}
